body{
	--primary: #3cb7c0;
	--white: #ffffff;
	--black: #000000;
	
	font-family: "Open Sans", sans-serif;

	margin: 0;
}



.vertical-timeline-element-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}


.timeline-date {
	color: black;
}